{% extends 'subsubbase.html.twig' %}

{% block title %}Nieuw bericht{% endblock %}

{% block body %}
    <section class="nieuwsOverzicht">
        <div class="container text-center" >
            <div class="title">
                <div class="row justify-center-md-center">
                    <div class="col-md-12 col-lg-12 col-sm-6 ">

                        <h2></h2></div></div></div></div></section>
<div class="container " >
    {{ include('admin/post/_form.html.twig') }}
    <div class="nieuwsberichten">
    <a href="{{ path('beheerNieuws') }}"><button style="margin-left:0px">Naar Overzicht</button></a></div>
</div>
{% endblock %}
