{%  extends 'base.html.twig' %}

{% block headerintro %}
    <section class="nieuwsOverzicht">
        <div class="container text-center" >
            <div class="title">
                <div class="row justify-center-md-center">
                    <div class="col-md-12 col-lg-12 col-sm-6 ">
                        <h2>Informatie</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="container" >
    <section class="nieuwsberichten">
        <div class="row justify-center-md-center">
            {% for informatie in informatietotaal %}
                <!--    start  informatief document -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                   <div class="container">
                        <div class="card">
                            <div class="card-body">
                                <h5>{{ informatie.name }}</h5>
                                    <p >{{informatie.description}}</p>
                            </div>
                            {% if informatie.file != NULL %}
                            <a href="images/doc/{{ informatie.file }}"><button >Download</button></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--    einde  informatief document -->
            {% endfor %}
        </div>
    </section>
</div>

{% endblock %}






