{% extends 'subsubbase.html.twig' %}

{% block title %}Nieuw artikel{% endblock %}

{% block body %}
    <section class="nieuwsOverzicht">
        <div class="container text-center" >
            <div class="title">
                <div class="row justify-center-md-center">
                    <div class="col-md-12 col-lg-12 col-sm-6 ">
                        <h2> </h2></div></div></div></div>
    </section>
<div class="container " >
    {{ include('admin/document/_form.html.twig') }}

    <div class="nieuwsberichten">
        <a href="{{ path('beheerInformatie') }}">
            <button style="margin-left:0px">Naar Overzicht</button></a>
    </div>

</div>
{% endblock %}
{% block script %}
    {{ parent() }}
    {# Javascript Block for text editor#}

    <script src="/public/javascript/ckeditor/adapters/jquery.js" type="text/javascript"></script>
    <script src="/public/javascript/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $('textarea.ckeditor').ckeditor();
        });
    </script>
{% endblock %}
