{# templates/emails/registration.html.twig #}
<html>
<head><title>EWA Haaglanden contactformulier</title></head>
<body>

<h3>EWA Haaglanden contactformulier</h3>
Beste {{ name }}!
<p>Hartelijk dank voor uw bericht. </p>

<p>U krijgt zo snel mogelijk een reactie</p>

{# Makes an absolute URL to the /images/logo.png file #}
<img src="/images/EWAHaaglanden_logo.jpg">

</body>
</html>